body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
}

*{
  scroll-behavior: smooth;
}

.section1 .heroimage {
  width: 500px;
  height: 500px;
}

header .navbar{
  background: #0cebeb ;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb ) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 ;  
;
}

.section1{
  background: #0cebeb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.align{
  max-width: 100%;
  overflow-x: hidden;
}

.logo{
  width: 90px; 
  height: 90px;
}

.section1 .script1{
  font-weight: bold;
  
}

.section2 .script1{
  font-weight: bold;
  
}


.script1sub{
  font-weight: bold;
}

html { font-size: 1rem; }




@media (max-width: 576px) {
    html { font-size: .6rem; }
    .section1 .heroimage{
      width: 250px;
      height: 250px;
      padding-left: 50px;
    }
    
    
}

@media (min-width: 576px) {
    html { font-size: .6rem; }
    
    
}
@media (min-width: 768px) {
    html { font-size: 1rem; }
    .section1 .heroimage{
      width: 180px;
      height: 180px;
    }
    
}
@media (min-width: 992px) {
    html { font-size: 1rem; }
    .section1 .heroimage{
      width: 300px;
      height: 300px;
    }
    
}
@media (min-width: 1200px) {
    html { font-size: 1rem; }
    .section1 .heroimage{
      width: 500px;
      height: 500px;
    }
}

@media (max-width: 1200px) {
    html { font-size: 1rem; }
    
}

.section2{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

