body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
}

*{
  scroll-behavior: smooth;
}

.heroimage {
  width: 250px;
  height: 250px;
}

section{
  width: 100%;
  height: 100vh;
}

.align{
  max-width: 100%;
  overflow-x: hidden;
}

.logo{
  width: 90px; 
  height: 90px;
}
